	<div class="grid-container">
		<div class="row">
			<div class="col-6">
				<img class="top-image" src="images/top-images/1.jpg" />
			</div>
		</div> 
		<!-- ################################ -->
		<!-- #	FIRST PARAGRAPH				# -->
		<!-- ################################ -->
		<div class="row">
			<div class="col-6">
				<p class="headline">
					Rubrik
				</p>
				<p>
					brödtext
				</p>
			</div>
		</div>
		
		
		
		
		<!-- ################################ -->
		<!-- #	PRICE TAGS					# -->
		<!-- ################################ -->
		<div class="row">
			<div class="col-2 center">
				<div class="huvudkampanj-container">
					<div class="title">Rubrik</div>
					<div class="text">fr&aring;n</div>
					<div class="price">xxx xxx kr</div>
					<div class="italic">ord. pris xxx xxx kr.</div>
				</div>
			</div>
			<div class="col-2 center">
				<div class="huvudkampanj-container">
					<div class="title">Rubrik</div>
					<div class="text">fr&aring;n</div>
					<div class="price">xxx xxx kr</div>
					<div class="italic">ord. pris xxx xxx kr.</div>
				</div>
			</div>
			<div class="col-2 center">
				<div class="huvudkampanj-container">
					<div class="title">Rubrik</div>
					<div class="text">fr&aring;n</div>
					<div class="price">xxx xxx kr</div>
					<div class="italic">ord. pris xxx xxx kr.</div>
				</div>
			</div>
		</div>
					
		<div class="divider" ></div>
		
		<!-- ################################ -->
		<!-- #	GADGET LIST					# -->
		<!-- ################################ -->
		<div class="row">
			<div class="col-2">
				<div class="gadget-container">
					<div class="gadget-title">Rubrik</div>
					<!-- GADGETS THAT ARE ALWAYS SHOWING -->
					<div class="gadget-list-container">
						<div class="gadget-item">gadget_1</div>
						<div class="gadget-item">gadget_2</div>
						<div class="gadget-item">gadget_3</div>
						<div class="gadget-item">gadget_4</div>
					</div>
					<!-- HIDDEN GADGETS --> <!-- OBS OBS: GLÖM EJ ATT BYTA UT ID'et och label-for nedan!!!! -->
					<div class="gadget-list-container">
						<input class="toggle-box" id="campaign-0-section-1" type="checkbox"><label for="campaign-0-section-1">Visa alla. </label>
						<div>
							<div class="gadget-item">gadget_5</div>
							<div class="gadget-item">gadget_6</div>
                        </div>
					</div>
					<!-- PRICE IN THE BOTTOM -->
					<div class="gadget-price-container">
						<div class="price">x xxx kr</div>
						<div class="italic">(Ordinarie pris x xxx kr)</div>
					</div>
				</div>
			</div>
			<div class="col-2">
				<div class="gadget-container">
					<div class="gadget-title">Rubrik</div>
					<!-- GADGETS THAT ARE ALWAYS SHOWING -->
					<div class="gadget-list-container">
						<div class="gadget-item">gadget_1</div>
						<div class="gadget-item">gadget_2</div>
						<div class="gadget-item">gadget_3</div>
						<div class="gadget-item">gadget_4</div>
					</div>
					<!-- HIDDEN GADGETS --> <!-- OBS OBS: GLÖM EJ ATT BYTA UT ID'et och label-for nedan!!!! -->
					<div class="gadget-list-container">
						<input class="toggle-box" id="campaign-0-section-2" type="checkbox"><label for="campaign-0-section-2">Visa alla. </label>
						<div>
							<div class="gadget-item">gadget_5</div>
							<div class="gadget-item">gadget_6</div>
                        </div>
					</div>
					<!-- PRICE IN THE BOTTOM -->
					<div class="gadget-price-container">
						<div class="price">x xxx kr</div>
						<div class="italic">(Ordinarie pris x xxx kr)</div>
					</div>
				</div>
			</div>
			<div class="col-2">
				<div class="gadget-container">
					<div class="gadget-title">Rubrik</div>
					<!-- GADGETS THAT ARE ALWAYS SHOWING -->
					<div class="gadget-list-container">
						<div class="gadget-item">gadget_1</div>
						<div class="gadget-item">gadget_2</div>
						<div class="gadget-item">gadget_3</div>
						<div class="gadget-item">gadget_4</div>
					</div>
					<!-- HIDDEN GADGETS --><!-- OBS OBS: GLÖM EJ ATT BYTA UT ID'et och label-for nedan!!!! -->
					<div class="gadget-list-container">
						<input class="toggle-box" id="campaign-0-section-3" type="checkbox"><label for="campaign-0-section-3">Visa alla. </label>
						<div>
							<div class="gadget-item">gadget_5</div>
							<div class="gadget-item">gadget_6</div>
                        </div>
					</div>
					<!-- PRICE IN THE BOTTOM -->
					<div class="gadget-price-container">
						<div class="price">x xxx kr</div>
						<div class="italic">(Ordinarie pris x xxx kr)</div>
					</div>
				</div>
			</div>
		</div>
		<!-- ################################ -->
		<!-- #	BOTTOM MENU					# -->
		<!-- ################################ -->
		
		<div class="row">
			<!-- ################################ -->
			<!-- #	LEFT SECTION CONFIGURE		# -->
			<!-- ################################ -->
			<div class="col-2 center no-gutter">
				<div class="menu_section">
					<div class="top_option all_options"> 
						<img class="image_div" src="images/icons/konfigurator.png" alt="">
						<span class="top_option_text">Konfigurera din bil</span> 
					</div> 
					<a href="http://skoda.se" target="_blank" >
						<div class="sub_option all_options">
							<span class="sub_option_text">Bygg din modell</span>
						</div>
					</a>
					<a href="http://skoda.se" target="_blank">
						<div class="sub_option all_options">
							<span class="sub_option_text">Bygg din modell</span>
						</div>
					</a>
				</div>
			</div>
			<!-- ################################ -->
			<!-- #	MIDDLE SECTION MODEL PAGE	# -->
			<!-- ################################ -->
			<div class="col-2 center no-gutter">
				<div class="menu_section">
					<div class="top_option all_options"> 
						<img class="image_div" src="images/icons/modellsida.jpg" alt="">
						<span class="top_option_text">Bes&ouml;k modellsida</span> 
					</div> 
					<a href="http://skoda.se" target="_blank">
						<div class="sub_option all_options">
							<span class="sub_option_text">modellsida</span>
						</div>
					</a>
					<a href="http://skoda.se" target="_blank">
						<div class="sub_option all_options">
							<span class="sub_option_text">modellsida</span>
						</div>
					</a>
				</div>
			</div>
			<!-- ################################ -->
			<!-- #	RIGHT SECTION BROSCHURE		# -->
			<!-- ################################ -->
			<div class="col-2 center no-gutter">
				<div class="menu_section">
					<div class="top_option all_options"> 
						<img class="image_div" src="images/icons/modellsida.jpg" alt="">
						<span class="top_option_text">Broschyrer och prislisto</span> 
					</div> 
					<a href="http://www.skoda.se/nedladdningar/bilmodeller/ladda-ner/" target="_blank">
						<div class="sub_option all_options">
							<span class="sub_option_text">Ladda ner broschyrer och prislistor</span>
						</div>
					</a>
				</div>
			</div>
		</div>
		
		
	</div><!-- End of grid-container -->