book-te
/*##########################################*/
/* 			Basic GRID components 			*/
/*##########################################*/
@font-face {
    font-family: skoda-font;
    src: url('font/SkodaPro_ExtraBold.ttf');
	font-weight: bolder;
}
@font-face {
    font-family: skoda-font;
    src: url('font/SkodaPro_Regular.ttf');
}
@font-face {
    font-family: skoda-font;
    src: url('font/SkodaPro_Bold.ttf');
	font-weight: bold;
}
@font-face {
    font-family: skoda-font;
    src: url('SkodaPro_LightItalic.ttf');
	font-weight: italic;
}


.grid-container {
	font-family: skoda-font;
	width: 100%; /*Max width of iframe*/
	margin-bottom:20px;
}
.grid-container *{
	box-sizing: border-box; 
}

.row:before, 
.row:after {
	content:"";
    display: table ;
    clear:both;
}
[class*='col-'] {
    float: left;
	min-height: 1px; 
	width: 16.66%; 
	padding: 12px;/*-- gutter --*/
}
.no-gutter{
	padding: 0px;
}
.col-2{
	width: 16.66%; 
}
.col-3{
	width:25%;
}
.col-4{
	width: 33.33%; 
}
.col-6{
	width: 50%; 
}
.col-8{
	width: 66.664%;
}
.col-10{
	width: 83.33%;
}
.col-12{
	width: 100%;
}
@media screen and (max-width:800px){
	.col-2{ width: 33.33%;  }
	.col-3{ width: 25%;	}
	.col-4{ width: 33.33%;  }
	.col-6{ width: 50%;  	}
	.col-8{ width: 100%;    }
	.col-10{ width: 100%;   }
	.col-12{ width: 100%;   }
/*
	.row .col-4:last-of-type{
		width: 100%; 
	}
*/
	.row .col-10 ~ .col-2{
		width: 100%; 
	}
}
@media screen and (max-width:700px){
	.col-2{ width: 50%;     }
	.col-3{ width: 100%;    	}
	.col-4{ width: 100%;    }
	.col-6{ width: 100%;    }
	.col-8{ width: 100%;    }
	.col-10{ width: 100%;   }
	.col-12{ width: 100%;   }
	.gadget-container{
		width:300px;
	}
}

/*##########################################*/
/* 			Reusable classes	 			*/
/*##########################################*/
.center{
	align-items: center;
	justify-content: center;
	display: flex;
}


/*##########################################*/
/* 			Specifik solution	 			*/
/*##########################################*/

/* Top image */
.top-image{
	width:100%;
    height:auto ;
    display:block;
}

/* Campaign puffs with prices */
.huvudkampanj-container{
  text-align: center;
  max-width:333px;
}

/* Text CSS for all elements */
.headline{
	font-size: 21px;
}
.title{
	font-size: 20px;
	font-weight: bold;
}
.extrabold{
	font-size: 26px;
	font-weight: bolder;

}
.text{
	font-size: 13px;
}
.price{
	font-size: 30px;
	color: #49A93B;
	font-weight: bold;
	padding-bottom: 2px;
	padding-top: 2px;
}
.price-black{
	font-size: 30px;
	color: #000000;
	font-weight: bold;
	padding-bottom: 2px;
	padding-top: 2px;
}
.italic{
	font-style: italic;
	font-size: 13px;
}
.bold{
	font-weight: bold;
	font-size: 13px;
}

/* Gadgets list */
.gadget-container{
	max-width:333px;
}
.gadget-list-container{
	
}
.gadget-price-container{
	margin-top:20px;
}
.gadget-title{
  font-size: 20px;
  font-weight: bold;
}
.gadget-item{
	background-image: url("images/icons/bullet.png");
	background-repeat: no-repeat;
	padding-left: 25px;
	line-height: 20px;
    margin: 20px 0px;
}
/* Toggle gadgets */
.toggle-box {
  display: none;
}
.toggle-box + label {
  cursor: pointer;
  display: block;
  font-weight: bold;
  line-height: 21px;
  margin-bottom: 5px;
}
.toggle-box + label + div {
  display: none;
  margin-bottom: 10px;
}
.toggle-box:checked + label + div {
  display: block;
}
.toggle-box + label:before {
  background-color: #49a93e;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  color: #FFFFFF;
  content: "+";
  display: block;
  float: left;
  font-weight: normal;
  height: 20px;
  line-height: 20px;
  margin-right: 5px;
  text-align: center;
  width: 20px;
  font-size: 22px;
}
.toggle-box:checked + label:before {
  content: "\2212";
}

/* Bottom menu links */
.menu_section {
   border-right: 1px solid #fff;
   margin-top:20px;
}
.all_options {
   color: white;
   float: left;
   padding: 5px;
   width: 100%;
   height: 40px;
   vertical-align: middle;
   text-align: center;
   line-height: 30px;
}
.top_option {
   background-color: black;
}
.sub_option {
   background-color: #49A93B;
   margin-bottom: 1px;
   cursor: pointer;
}
.sub_option:hover {
   background-color: #306221;
}
.image_div {
   vertical-align: middle;
}
.top_option_text {
   margin-left: 5px;
}


/* Green Line Divider */
.divider{
	border-bottom-style: solid; 
	border-bottom-color: #4ba82e; 
	border-bottom-width: 1px; 
	margin: 10px 0px;
}

/* Book a testdrive */
		
.book-test-drive-container{
	width:100%;
	margin-top:20px;
}
.book-test-drive-wrapper{
	background: #000 url(http://www.skoda.se/SiteCollectionImages/ikoner/bil.jpg) no-repeat 6px 5px;
	margin: auto;
	max-width:210px;
	cursor: pointer;
	height: 40px;
	line-height: 40px;
	font-size: 16px;
}
.book-test-drive-wrapper:hover{
	border-bottom: solid 3px #4ba82e;
}
.book-test-drive-image_div{
	margin:auto;
	display: block;
} 
.book-test-drive-text{
	color:white;
	font-weight:bold;
	padding-left: 44px;
	text-decoration:none;
}
.book-test-drive-wrapper:hover .book-test-drive-text{
	display: block;
	margin-bottom: -3px;
}

h2{
	color: #49A93B;
 	}

/*##########################################*/
/* 				Dummy classes	 			*/
/*##########################################*/


.red{
	background-color:red;
	opacity: 0.6;
}
.blue{
	background-color:blue;
	opacity: 0.6;
}
.green{
	background-color:green;
	opacity: 0.6;
}